@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgba(11, 11, 11, 0.2);
  /* ... */
}
body {
  font-family: "Lato", sans-serif;
}
header > div {
  background-color: " headerBg";
}
